Should RFCs 9330 & 9331 be listed as being Updated?

If so, we'll need to specify exactly the wording changes that are being made to RFC9330 & 9331.

From https://mailarchive.ietf.org/arch/msg/tsvwg/XNNyrMOLvqxqPVPuZsWPwwlCCVk/

> [GW2] The only update to L4S requirements is the statement:
> "L4S network functions SHOULD treat packets marked with the NQB DSCP and ECT(1) or CE the same as packets marked with the Default DSCP and the same ECN value. Here, L4S network functions means the L4S Network Node functions (Section 5 of [RFC9331]), and any mechanisms designed to protect the L4S queue (such as those discussed in Section 8.2 of [RFC9330])."
> 
> [GW2] In other words, L4S nodes shouldn't handle "L4S+NQB" packets (DSCP45 && (ECT1 || CE)) any differently from "L4S+Default" packets (DSCP0 && (ECT1 || CE)). This recommendation *only* applies to nodes that support both NQB and L4S.  

Since this recommendation *only* applies to nodes that support both NQB and L4S, there is no need to update RFCs 9330 & 9331.  An implementer who is not implementing NQB is not disadvantaged by being unaware of this recommendation.

Here is proposed text to make this more clear:

> In nodes that support both the NQB PHB and L4S, the L4S network functions SHOULD treat packets marked with the NQB DSCP and ECT(1) or CE the same as packets marked with the Default DSCP and the same ECN value.