David B -05 review -- 13.  IANA Considerations

      to denote Non-Queue-Building behavior.
s/to denote/as the RECOMMENDED codepoints for/  - to align with Section 5 of RFC 2474.
 