David B -05 review -- 5.2 Aggregation of the NQB PHB with other DiffServ PHBs


 
       In these cases it is
   recommended that NQB-marked traffic be aggregated with standard,
   elastic, best-effort traffic, although in some cases a network
   operator may instead choose to aggregate NQB traffic with Real-Time
   traffic. 
Need more clarity on exactly what the NQB traffic is being aggregated with.  I suggest using terminology from RFC 4594, 5127 and/or 8100 and referencing the relevant RFC(s) for precision.
 
      In either case, [RFC5127]
   requires that such aggregations preserve the notion of each end-to-
   end service class that is aggregated, and recommends preservation of
   the DSCP as a way of accomplishing this.  Compliance with this
   recommendation would serve to limit the negative impact that such
   networks would have on end-to-end performance for NQB traffic.
Phrasing is a bit peculiar.  It might be better to rewrite the sentence to say that the identity of the NQB traffic should be preserved when that traffic is aggregated and use RFC 5127 as an example.  Something to keep in mind is that RFC 5127 and RFC 8100 were both motivated by MPLS limitations, and have limited applicability to non-MPLS networks.


Addressed in draft-06