Traffic Protection requirements aren't concrete enough

From RG: https://mailarchive.ietf.org/arch/msg/tsvwg/LHlfusaxLLDPQLCVCWMfmYtrnRo/

> - I agree with you, that the requirements I ask for should not include the exact mechanism and algorithm as specified for DOCSIS
> - however I expect the requirements provided by a standard to be sufficient to allow for compatible implementations and operation; to be more clear, algo's and mechanisms may be different, but externally observable behaviour is identical (or compatible, as IETF puts it, but in the case of scheduling that is better described by statistically equivalent behaviour).
> - and to me, a specification for this behaviour is missing in major parts for NQB (I don't object to having it as an RFC as is, but it's not ready for standards track, I think).
> 

From GF: https://mailarchive.ietf.org/arch/msg/tsvwg/TEExPUudk8X5fw9F9vtGD--OwoU/
> 32. There is a sentence that says:
> /Such a function SHOULD be implemented in an objective and verifiable manner, basing its decisions upon the
> behavior of the flow rather than on application-layer constructs./
>
> - to me this sentence is hard to understand. Please ensure the sentence with RFC2119 language is self-contained and clearly verifiable.
>
> 33. The following clasue doesn’t seem verifiable, please say what “fail gracefully” means…
> /The traffic protection function MUST be designed to fail gracefully in the case
> that the flow state is exhausted./
>
> [GW] Ok, maybe the best we can mandate is (like the 5th paragraph of section 6.1 in RFC2475) that the node doesn't fail (e.g. crash).  Is it acceptable to use the same type of requirement as RFC2475? Or, can you think of other examples that would codify that the implementer needs to be aware of this potential error/attack case and do their best to make sure nothing catastrophic happens?

[GF2] I personally like the idea of talking about the potential error/attack case. A MUST is very strong for design guidance, but it is important to say what needs to be done, refering to RFC 2475 is some help.



From RG: https://mailarchive.ietf.org/arch/msg/tsvwg/qkO2s7TbQciXrfcjYEMp9m5QH9M/

> The following situations may occur:
> - QB/NQB traffic present, no congestion - cool, should just continue to operate
> - QB/NQB traffic present, congestion and NQB below NQB rate - NQB should just continue to operate
> - QB/NQB traffic present, congestion and NQB above NQB rate - ? The draft doesn't specify how an NQB conformant scheduler works under this operational condition. Traffic protection now doesn't reclassify traffic, does it? If it still does, how does it pick NQB packets to be reclassified, remarked and re-scheduled?




Also, describe the implications of discard vs. re-classify implementations.  

...and:  

> “flow” is neither specified nor defined by your draft (and the draft doesn’t refer to a specification of flow given by another document). 

[GW] Fair point. As you mentioned in another thread, we have a section in the DOCSIS spec (and referenced in the Q-protection draft) which discusses this. I'll add some language here (and probably also reference the DOCSIS spec as an example). 


... and
https://mailarchive.ietf.org/arch/msg/tsvwg/LfQ7p51UDuZc8mfRe59bBmM-i04/

> The DiffServ link design validations I do are based on one/all senders misbehave. I have a clear, standards and standard-design based understanding what has to happen then and based on that I am and was in the past able to solve all issues with vendors if results weren't as expected. I don't look at NQB with standard text as it is by now to allow for resolving issues with vendors. I think I'd have to put many things into writing to define a test (like specifying flow, specifying objectives to verify and so on), likely need to communicate all that to my vendors, expect them to implement the DT taste of NQB, all in a compatible way - I stop here. I regard this as unlikely. I, and I'd think implementers too, expect a standard to define all or most of that.


The PR that I merged yesterday addresses some aspects of this issue.  Others remain. 

RFC2475 defines this as:
"   Microflow                 a single instance of an application-to-
                             application flow of packets which is
                             identified by source address, source port,
                             destination address, destination port and
                             protocol id."
- you should add a reference, or copy the definition to the terminology section, so readers know what is intended.