Some WG participants have the impression that NQB marking means no congestion control

In discussing the upper bound on data rate for applications to mark traffic as NQB (see #21), at least two WG participants raised the concern that a rate like 1 Mbps would be too high for a non-congestion-controlled application to send. 

https://youtu.be/u8Y3_d4oZP0?t=1839
https://youtu.be/u8Y3_d4oZP0?t=2103

While true, that statement doesn't relate to the intent of the NQB draft, which is seeking to only set an upper bound on application data rate that is eligible for marking itself with the NQB DSCP.  The draft is clear on this point.

What more could or should the draft say to dispel this misconception?

Would it help to swap the order of the concepts discussed in the first two paragraphs of the sender requirements section (https://www.ietf.org/archive/id/draft-ietf-tsvwg-nqb-17.html#section-4.1)? Currently, the first paragraph talks about data rates and application limited-ness. The second paragraph talks about the need for congestion response.   Maybe this order makes congestion response seem like an afterthought?

 

I do think this should go further, because the text still reads a little as if CC is for a capacity-seeking application. Whereas what I would really like to see is a statement that CC is needed in general. Specifically RFC 8085 makes CC recommendations for all, but a very specific class, of apps.

Ok, I made a few more edits in https://github.com/gwhiteCL/NQBdraft/commit/ba958fd7e5ffc6a457ca707dbb282143666fd5a1
to try to further clarify that NQB flows aren't distinguished from flows that implement CC *generally* just the flows that implement a capacity-seeking CC.  This language isn't super precise though. If you have any suggestions on further clarifications, or if you could point to specific areas in the current repo text https://github.com/gwhiteCL/NQBdraft/blob/master/draft-ietf-tsvwg-nqb-18.xml that give you pause, that would be helpful.

The section on "Non-Queue-Building Behavior" currently has:
> These applications typically implement a response to network congestion that consists of discontinuing (or significantly reducing) transmissions.

And, "Non-Queue-Building Sender Requirements" has:
> Flows marked with the NQB DSCP are expected to comply with existing guidance for safe deployment on the Internet, including the guidance around response to network congestion, for example the requirements in ["RFC8085"] and ["RFC3551"] (also see the circuit breaker limits in ["RFC8083" section "4.3"] and the description of inelastic pseudowires in ["RFC7893" section "4"]). The fact that an application's data rate is low relative to typical network capacities is no guarantee that sufficient capacity exists in any particular network, and it is the responsibility of the application to detect and react appropriately if the network capacity is insufficient.  To be clear, the description of NQB-marked flows in this document is not to be interpreted as suggesting that such flows are in any way exempt from this responsibility.



